body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    border-bottom: none;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin-bottom: 10px;
}

.login-container, .register-container, #file-upload {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.password-field {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="password"], input[type="text"] {
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
}

.password-toggle {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: calc(50% - 16px);
}

.file-upload-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}
